<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>AddNumberServlet</display-name>
    <servlet-name>AddNumberServlet</servlet-name>
    <servlet-class>com.calculation.controller.AddNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNumberServlet</servlet-name>
    <url-pattern>/AddNumberServlet</url-pattern>
  </servlet-mapping>
  <display-name>web_app_demo15_mvc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddNumbers</display-name>
    <servlet-name>AddNumbers</servlet-name>
    <servlet-class>com.calculation.model.AddNumbers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNumbers</servlet-name>
    <url-pattern>/AddNumbers</url-pattern>
  </servlet-mapping>
</web-app>