<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.demo.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>web_app_demo16_mvc2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegistrationController</display-name>
    <servlet-name>UserRegistrationController</servlet-name>
    <servlet-class>com.demo.controller.UserRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationController</servlet-name>
    <url-pattern>/UserRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewpageController</display-name>
    <servlet-name>NewpageController</servlet-name>
    <servlet-class>com.demo.controller.NewpageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewpageController</servlet-name>
    <url-pattern>/NewpageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserController</display-name>
    <servlet-name>ShowUserController</servlet-name>
    <servlet-class>com.demo.controller.ShowUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserController</servlet-name>
    <url-pattern>/ShowUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>com.demo.controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.demo.controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.demo.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
</web-app>